body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h2 {
    font-weight: bold;
    color: #800080;
}

.column {
    float: left;
    width: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(184, 18, 156, 0.664);
    margin: 8px;
    width: 350px;
    height: 150px;
}

.about-section {
    padding: 30px;
    text-align: center;
    background-color: #800080;
    font-weight: bold;
    color: aliceblue;
}

.container {
    padding: 0 20px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    border: none;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #800080;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: rgb(214, 190, 205);
}

#hobbylist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-indent: 70px;
    font-weight: bold;
}

#foodlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-indent: 70px;
    font-weight: bold;
}

#serieslist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-indent: 70px;
    font-weight: bold;
}

#movieslist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-indent: 70px;
    font-weight: bold;
}

form {
    width: px;
    margin: 0 auto;
    text-align: center;
}

.value-button {
    display: inline-block;
    border: 1px solid #800080;
    text-align: center;
    vertical-align: middle;
    padding: 11px;
    background: #800080;
    margin: 0px;
    width: 40px;
    height: 40px;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #800080;
    border-bottom: 1px solid #800080;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}